# From Previous Lesson

In [1]:
import pandas as pd
import numpy as np
import math
from sklearn import linear_model

In [2]:
#this data has been treated with some log transformations like we have seen yesterday
data = pd.read_csv('regression_data_treated.csv')
data.head()

     AVGGIFT   HV1_log  IC1_transformed  IC5_transformed  gender  TARGET_D
0  15.500000  9.510467        17.343389         4.181353    Male      21.0
1   3.080000  6.458590        16.230984         4.150313    Male       3.0
2   7.500000  8.780623        18.047227         4.205057  Female      20.0
3   6.700000  6.200492        11.737110         4.055333    Male       5.0
4   8.785714  7.477123        12.494862         4.088969  Female      10.0

In [3]:
#separate the features from the labels
y = data['TARGET_D']
X = data.drop(['TARGET_D'], axis=1)

In [4]:
X.head()

     AVGGIFT   HV1_log  IC1_transformed  IC5_transformed  gender
0  15.500000  9.510467        17.343389         4.181353    Male
1   3.080000  6.458590        16.230984         4.150313    Male
2   7.500000  8.780623        18.047227         4.205057  Female
3   6.700000  6.200492        11.737110         4.055333    Male
4   8.785714  7.477123        12.494862         4.088969  Female

In [5]:
#categorical features and numerical ones are going to be treated differently
X_num = X.select_dtypes(include = np.number)
X_cat = X.select_dtypes(include = object)

In [6]:
X_cat['gender'].unique()

array(['Male', 'Female', 'U'], dtype=object)

In [7]:
# Normalizing and Standardizing data - only for numerical variables
X_num.describe().T

,count,mean,std,min,25%,50%,75%,max
AVGGIFT,4670.0,11.705325,10.097916,2.260870,7.125938,10.000000,14.333333,450.000000
HV1_log,4670.0,8.036391,1.269845,5.177302,7.233936,7.842845,8.605080,24.406461
IC1_transformed,4670.0,15.675380,2.239342,7.707891,14.071580,15.615699,17.238244,20.892798
IC5_transformed,4670.0,4.178176,0.052677,3.913190,4.143215,4.177919,4.211933,4.402811

In [8]:
X_num

        AVGGIFT   HV1_log  IC1_transformed  IC5_transformed
0     15.500000  9.510467        17.343389         4.181353
1      3.080000  6.458590        16.230984         4.150313
2      7.500000  8.780623        18.047227         4.205057
3      6.700000  6.200492        11.737110         4.055333
4      8.785714  7.477123        12.494862         4.088969
...         ...       ...              ...              ...
4665  15.500000  8.635841        15.280561         4.187901
4666  11.857143  9.702136        15.029617         4.248632
4667  11.333333  7.384414        15.742430         4.179506
4668  13.000000  8.481928        13.326031         4.124159
4669  17.923077  8.906619        17.417748         4.256304

[4670 rows x 4 columns]

In [9]:
from sklearn.preprocessing import MinMaxScaler
MinMaxtransformer = MinMaxScaler().fit(X_num)
x_normalized = MinMaxtransformer.transform(X_num)
print(x_normalized.shape)
x_normalized = pd.DataFrame(x_normalized,columns=X_num.columns)
x_normalized.head()

(4670, 4)

    AVGGIFT   HV1_log  IC1_transformed  IC5_transformed
0  0.029569  0.225343         0.730798         0.547694
1  0.001829  0.066633         0.646428         0.484300
2  0.011701  0.187388         0.784180         0.596107
3  0.009915  0.053210         0.305593         0.290313
4  0.014573  0.119601         0.363064         0.359010

In [10]:
x_normalized.describe().T

,count,mean,std,min,25%,50%,75%,max
AVGGIFT,4670.0,0.021094,0.022553,0.0,0.010866,0.017285,0.026963,1.0
HV1_log,4670.0,0.148685,0.066037,0.0,0.106954,0.138620,0.178259,1.0
IC1_transformed,4670.0,0.604289,0.169841,0.0,0.482649,0.599762,0.722823,1.0
IC5_transformed,4670.0,0.541205,0.107588,0.0,0.469801,0.540680,0.610151,1.0

In [11]:
from sklearn.preprocessing import StandardScaler
Standardtransformer = StandardScaler().fit(X_num)
x_standardized = Standardtransformer.transform(X_num)
print(x_standardized.shape)
x_standardized = pd.DataFrame(x_standardized,columns=X_num.columns)
x_standardized.head()

(4670, 4)

    AVGGIFT   HV1_log  IC1_transformed  IC5_transformed
0  0.375828  1.160956         0.744945         0.060323
1 -0.854260 -1.242648         0.248137        -0.528978
2 -0.416499  0.586144         1.059285         0.510354
3 -0.495732 -1.445921        -1.758861        -2.332225
4 -0.289161 -0.440469        -1.420443        -1.693638

In [12]:
x_standardized.describe().T

,count,mean,std,min,25%,50%,75%,max
AVGGIFT,4670.0,-3.796630e-17,1.000107,-0.935388,-0.453547,-0.168897,0.260280,43.409118
HV1_log,4670.0,-9.326349e-16,1.000107,-2.251767,-0.631999,-0.152434,0.447889,12.892773
IC1_transformed,4670.0,7.244978e-16,1.000107,-3.558340,-0.716269,-0.026654,0.697987,2.330138
IC5_transformed,4670.0,-1.549035e-14,1.000107,-5.030900,-0.663751,-0.004879,0.640906,4.264836

# Lesson 1.08

In [13]:
# Activity 1
# Discussion on categorical variables: how would you currently handle categories? Should you have many or few?

# Lesson 1 : categorical variables

In [14]:
X_cat = data.select_dtypes(include = np.object)

C:\Users\User\AppData\Local\Temp/ipykernel_152/3073296627.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_cat = data.select_dtypes(include = np.object)

In [15]:
# in this case there is only one categorical variable
X_cat.head()

   gender
0    Male
1    Male
2  Female
3    Male
4  Female

In [16]:
X_cat['gender'].value_counts()

Female    2664
Male      1895
U          111
Name: gender, dtype: int64

In [17]:
#one hot encoding is a way to turn categorical variables into multiple numerical columns
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder().fit(X_cat)
# encoder = OneHotEncoder(drop='first').fit(X_cat)
print(encoder.categories_)
encoded = encoder.transform(X_cat).toarray()
print(encoded)
onehot_encoded = pd.DataFrame(encoded,columns=encoder.categories_)
onehot_encoded.head(20)

[array(['Female', 'Male', 'U'], dtype=object)]
[[0. 1. 0.]
 [0. 1. 0.]
 [1. 0. 0.]
 ...
 [1. 0. 0.]
 [0. 1. 0.]
 [0. 1. 0.]]

   Female Male    U
0     0.0  1.0  0.0
1     0.0  1.0  0.0
2     1.0  0.0  0.0
3     0.0  1.0  0.0
4     1.0  0.0  0.0
5     0.0  1.0  0.0
6     1.0  0.0  0.0
7     0.0  1.0  0.0
8     1.0  0.0  0.0
9     1.0  0.0  0.0
10    1.0  0.0  0.0
11    1.0  0.0  0.0
12    0.0  1.0  0.0
13    1.0  0.0  0.0
14    1.0  0.0  0.0
15    1.0  0.0  0.0
16    1.0  0.0  0.0
17    0.0  0.0  1.0
18    1.0  0.0  0.0
19    1.0  0.0  0.0

In [18]:
#because one of the variables can be deduced from the others, no point in keeping all these columns around
onehot_encoded = onehot_encoded.drop(['Female'],axis=1)
onehot_encoded.head()

  Male    U
0  1.0  0.0
1  1.0  0.0
2  0.0  0.0
3  1.0  0.0
4  0.0  0.0

In [19]:
#label encoding keeps just one column and makes it numerical, but watch out: you may be introducing unintended semantics
#if you want to contriol which nuber gets assigned to which category, you can use OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
label_encoded = LabelEncoder().fit(X_cat).transform(X_cat) # ordered wrt value counts
label_encoded = pd.DataFrame(label_encoded,columns=X_cat.columns)
display(label_encoded.head(20))
label_encoded['gender'].value_counts()

C:\Users\User\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

    gender
0        1
1        1
2        0
3        1
4        0
5        1
6        0
7        1
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       2
18       0
19       0

0    2664
1    1895
2     111
Name: gender, dtype: int64

In [20]:
from sklearn.preprocessing import LabelEncoder
label_encoded = LabelEncoder().fit(X_cat).transform(X_cat) # ordered wrt value counts
label_encoded = pd.DataFrame(label_encoded,columns=X_cat.columns)
display(label_encoded.head(20))
label_encoded['gender'].value_counts()

C:\Users\User\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

    gender
0        1
1        1
2        0
3        1
4        0
5        1
6        0
7        1
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       2
18       0
19       0

0    2664
1    1895
2     111
Name: gender, dtype: int64

In [21]:
# Activity 2
# do it yourself. Which one do you think is more appropriate here?

In [22]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder().fit(X_cat)
print(encoder.categories_)
encoded = encoder.transform(X_cat).toarray()
print(encoded)
onehot_encoded = pd.DataFrame(encoded,columns=encoder.categories_)
onehot_encoded.head(20)

[array(['Female', 'Male', 'U'], dtype=object)]
[[0. 1. 0.]
 [0. 1. 0.]
 [1. 0. 0.]
 ...
 [1. 0. 0.]
 [0. 1. 0.]
 [0. 1. 0.]]

   Female Male    U
0     0.0  1.0  0.0
1     0.0  1.0  0.0
2     1.0  0.0  0.0
3     0.0  1.0  0.0
4     1.0  0.0  0.0
5     0.0  1.0  0.0
6     1.0  0.0  0.0
7     0.0  1.0  0.0
8     1.0  0.0  0.0
9     1.0  0.0  0.0
10    1.0  0.0  0.0
11    1.0  0.0  0.0
12    0.0  1.0  0.0
13    1.0  0.0  0.0
14    1.0  0.0  0.0
15    1.0  0.0  0.0
16    1.0  0.0  0.0
17    0.0  0.0  1.0
18    1.0  0.0  0.0
19    1.0  0.0  0.0

# Lesson 2 : train-test split

In [23]:
# let's merge all this information together into a single dataset with all features, now numerical
X = pd.concat([x_normalized, onehot_encoded], axis=1)

In [24]:
X.shape

(4670, 7)

In [25]:
y = data['TARGET_D']
y.head()

0    21.0
1     3.0
2    20.0
3     5.0
4    10.0
Name: TARGET_D, dtype: float64

In [26]:
# train test split is the way ML generates its claim to fame: 
# we build the model on a portion of the data but we then validate it in 
# another "fresh" portion
# our model has no opportunity to "cheat": it must accurately guess the values 
# in the "fresh" dataset that it never saw before
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3736, 7)
(934, 7)
(3736,)
(934,)

In [28]:
X_train.head()

,AVGGIFT,HV1_log,IC1_transformed,IC5_transformed,"(Female,)","(Male,)","(U,)"
2858,0.013711,0.122383,0.784180,0.596107,1.0,0.0,0.0
4238,0.012499,0.126146,0.633440,0.562500,0.0,1.0,0.0
831,0.011887,0.147172,0.826925,0.776779,0.0,1.0,0.0
2285,0.013252,0.112634,0.504109,0.570522,1.0,0.0,0.0
1417,0.009468,0.175662,0.800766,0.604974,0.0,1.0,0.0

In [29]:
y_train.head()

2858     5.0
4238    10.0
831     10.0
2285    11.0
1417    10.0
Name: TARGET_D, dtype: float64

In [30]:
#we train/fit our model like yesterday
lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [31]:
from sklearn.metrics import r2_score
predictions = lm.predict(X_train)
r2_score(y_train, predictions)

0.8617916442966341

In [32]:
# But now we evaluate it in the TEST portion of the data, that we did not use for training.
# This way we know our model is genuinely guessing our donations, not just repeating the values it has seen in the training data


predictions = lm.predict(X_test)
r2_score(y_test, predictions)

0.7835732034742455

In [33]:
y_test

1714    11.0
2481    12.0
3646    21.0
4139     6.0
4062    30.0
        ...
4064    10.0
356     13.0
1330     5.0
3464    20.0
1864    15.0
Name: TARGET_D, Length: 934, dtype: float64

In [34]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_test,predictions))

4.55961612677076

In [35]:
predictions

array([ 1.50439417e+01,  1.14513752e+01,  2.07847735e+01,  9.73320677e+00,
        3.25016748e+01,  8.28288383e+00,  2.49319882e+01,  9.35842613e+00,
        1.16465936e+01,  1.82452416e+01,  2.90416859e+01,  2.10173570e+01,
        1.65621651e+01,  1.20793855e+01,  6.49987711e+00,  1.37887827e+01,
        1.09934622e+01,  1.05264089e+01,  6.37095000e+00,  1.11328633e+01,
        2.25286228e+01,  2.56705015e+01,  1.74320042e+01,  8.78760236e+00,
        1.31042196e+01,  1.18216706e+01,  3.79650252e+00,  1.96573266e+01,
        1.07676279e+01,  9.66658724e+00,  1.16873275e+01,  1.28613426e+01,
        1.86373091e+01,  1.88283362e+01,  1.30880278e+01,  1.67478130e+01,
        2.86934804e+00,  5.19817031e+00,  1.20018340e+01,  7.69066801e+00,
        2.78354100e+01,  1.94426727e+01,  7.31925315e+00,  3.55392669e+00,
        1.65823575e+01,  8.78590611e+00,  1.18678242e+01,  6.13689601e+00,
        1.42593992e+01,  1.34271125e+01,  3.04884122e+01,  1.98127893e+01,
        8.36257496e+00,  1.79633191e+01,  2.35401715e+01,  2.11665436e+01,
        9.90643328e+00,  1.34978216e+01,  1.18462990e+01,  7.69697601e+00,
        1.15640869e+01,  9.49878670e+00,  1.81093094e+01,  1.54017767e+01,
        2.06085777e+01,  1.68933835e+01,  1.97493377e+01,  8.10833353e+00,
        1.31339349e+01,  1.15349404e+01,  3.90745881e+00,  1.77741302e+01,
        2.38058106e+01,  1.37437645e+01,  2.57492861e+01,  2.16291820e+01,
        1.78782786e+01,  8.78998535e+00,  1.37773998e+01,  1.45757179e+01,
        2.00274436e+01,  1.12034925e+01,  1.29257661e+01,  1.39517314e+01,
        9.36917103e+00,  6.59142051e+00,  1.34063318e+01,  1.53057988e+01,
        1.42707942e+01,  9.37810318e+00,  9.42931417e+00,  7.47473779e+00,
        3.06020333e+00,  2.42116137e+01,  2.50124963e+01,  6.21662252e-01,
        2.14126289e+01,  2.26307672e+01,  5.51559165e+00,  1.52294050e+01,
        2.45210498e+01,  1.12519910e+01,  2.17504668e+01,  8.35204113e+00,
        4.07974571e+00,  2.75520967e+01,  1.42930975e+01,  2.05585513e+00,
        3.91637475e+00,  1.58121929e+01,  1.04040689e+01,  2.41365221e+01,
        1.74300381e+01,  2.28892411e+00,  1.01095031e+00,  1.76807027e+01,
        1.06987104e+01,  3.10687733e+01,  2.42855579e+01,  1.37442777e+01,
        1.64099960e+01,  1.22039704e+01,  1.36398965e+01,  2.80692633e+01,
        6.43079489e+00,  3.86207477e+00,  3.54794353e+01,  7.22784319e+00,
        9.92503943e+00,  1.87954261e+00,  2.45700423e+01,  1.19588057e+01,
        1.00684214e+01,  2.46906715e+01,  1.57104553e+01,  1.31182671e+01,
        7.82078297e+01,  2.01066253e+01,  1.33673490e+01,  1.54662111e+01,
        9.14328614e+00,  7.02646539e+00,  1.46126737e+00,  1.40519085e+01,
        1.47984624e+01,  1.26581766e+01,  2.03250306e+01,  2.69817337e+01,
        1.63769601e+01,  1.10542621e+01,  9.18139534e+00,  5.58886504e+00,
        8.17224114e+00,  2.39978285e+01,  1.98158567e+01,  1.26981093e+01,
        3.70348124e+01, -3.69951269e-01,  9.78302464e+00,  9.95750419e+00,
        2.10348129e+01,  9.23424170e+00,  8.30506177e+00,  1.37626027e+01,
        1.49241989e+01,  2.06366716e+01,  5.59609156e+00,  6.38919287e+00,
        1.83983452e+01,  1.86190036e-01,  1.16439841e+01,  2.24690480e+01,
        2.35544009e+01,  7.70119895e+00,  6.16995178e+00,  4.37406030e+00,
        1.16431516e+01,  1.23326989e+01,  8.97779503e+00,  2.28388126e+01,
        9.87986276e+00,  2.04951432e+01,  8.09676855e+00,  2.12420266e+01,
        1.93487231e+01,  9.37292334e+00,  7.20107898e+00,  1.00733923e+01,
        7.48907768e+00,  1.22853076e+01,  2.84339497e+00,  3.38813786e+01,
        2.01393941e+01,  1.41336368e+01,  1.23549578e+01,  2.77373261e+01,
        2.05888717e+01,  2.28907496e+01,  9.19225574e+00,  2.30079542e+01,
        2.12216968e+01,  1.35044541e+01,  1.04160045e+01,  7.30391477e+00,
        1.28419299e+01,  1.65069967e+01,  1.24373890e+01,  2.11800739e+01,
        1.18186839e+01,  2.18509104e+01,  2.58326974e+01,  9.34528783e+00,
        1.01922900e+01,  1.23323125e+01,  1.40868489e+01,  7.77808903e+00,
        2.29839189e+01,  2.88956929e+01,  9.28188646e+00,  3.65299584e+00,
        1.04666437e+01,  1.59433704e+01,  4.83225790e+00, -4.79109458e+00,
        8.33886756e+00,  8.11543824e+00,  1.73237424e+01,  1.18328501e+01,
        4.42590471e+01,  2.44102714e+00,  1.02952450e+01,  1.15230913e+01,
        1.05603417e+01,  1.32681329e+01,  1.98434010e+01,  1.44493867e+01,
        1.87110033e+01,  8.05762961e+00,  1.20273075e+01,  9.84925995e+00,
        1.67453544e+01,  8.41745518e+00,  2.23274386e+01,  8.31332388e+00,
        1.67931538e+01,  1.00884401e+01,  1.36975361e+01,  1.59751185e+01,
        7.14980904e+00,  2.00540751e+01,  1.26926009e+01,  2.39654819e+01,
        8.65922097e+00,  4.01147464e+00,  2.89983815e+00,  7.81001662e+00,
        1.21323834e+01,  1.01224018e+01,  1.15399218e+01,  1.62206618e+01,
        7.39679844e+00,  2.11299553e+01,  1.42112187e+01,  1.91137747e+01,
        1.55090106e+01,  1.08596848e+01,  2.31342962e+01,  1.63812556e+01,
        2.86592367e+01,  4.24079195e+00,  2.26124910e+01,  3.52913645e+01,
        5.74033818e+00,  1.94582246e+01,  2.85196700e+01,  8.31556970e+00,
        1.27801347e+01,  5.17641970e+00,  8.14072068e+00,  2.88352933e+01,
        1.78631838e+01,  1.28274952e+01,  8.87229036e+00,  6.02525285e+00,
        1.11524035e+01,  7.48316502e+00,  3.24627573e+00,  2.21506448e+01,
        8.29341073e+00,  2.67347076e+01,  1.80771778e+01,  1.96552313e+01,
        1.33465815e+01,  7.56880163e+00,  1.32768155e+01,  1.58575076e+01,
        1.42472800e+01, -6.90348966e+00,  8.86675002e+00,  1.19239774e+01,
        2.33789148e+01,  1.38923650e+01,  3.07982852e+01,  3.68255874e+01,
        8.27952269e+00,  1.94613007e+01,  1.35707313e+01,  1.30197278e+01,
        1.87231857e+01,  9.02685474e+00,  1.68291847e+01,  1.36906021e+01,
        1.21153706e+01,  2.84705558e+01,  1.80457672e+01,  1.51849224e+01,
        2.86878032e+01,  1.23304776e+01,  2.51687729e+01,  8.39707822e+00,
        1.91607229e+01,  6.27244711e+00,  1.73549681e+01,  2.34367043e+01,
        1.94872537e+00,  2.29719708e+01,  1.09257626e+01,  2.06842345e+01,
        2.40178968e+01,  1.88276471e+01,  1.37059019e+01,  9.05325865e+00,
        8.73319792e+00,  1.58234436e+01,  1.14075117e+01,  2.36970831e+00,
        8.72214050e+00,  2.30440542e+01,  1.05584957e+01,  7.01646525e+00,
        4.22633428e+00,  4.30846714e+00,  1.05491796e+00,  8.75687787e+00,
        2.75633228e+01,  1.16816316e+01,  9.52000674e+00,  2.44134082e+01,
        2.60733434e+01,  1.12874631e+01,  1.41556227e+01,  2.32725536e+00,
        3.98481676e+01,  3.08210523e+00,  1.90951888e+01,  9.34607821e+01,
        6.69989812e+00,  2.33038879e+01,  1.27113135e+01,  3.13093959e+01,
        1.55098181e+01,  3.75769176e+01,  6.92252840e+00,  6.76435108e+00,
        8.06788292e+00,  6.96811834e+00,  2.78093883e+01,  2.07622116e+01,
        2.44177407e+01,  3.22604423e+01,  1.92256660e+01,  5.06388571e+01,
        4.72739029e+00,  1.69501581e+01,  6.25549938e+00,  5.81700639e+00,
        1.21490962e+01,  6.47547677e+00,  1.57968410e+01,  1.78532878e+01,
        5.74125074e+00,  7.38337256e+00,  7.00577388e+00,  2.38601458e+00,
        2.07503885e+01,  1.48115789e+01,  6.58409405e+00,  9.92771099e+00,
        4.27563271e+01,  4.54048698e+00,  1.74916204e+01,  1.33904710e+01,
        5.32490620e+00,  1.29688641e+01,  6.96259896e+00,  1.41681612e+01,
        9.82351126e+00,  2.19826421e+01,  9.57177835e+00,  2.30952708e+01,
        1.62745136e+01,  1.49288124e+01,  8.03061524e+00,  3.29484627e+01,
        1.38656850e+01,  2.68442931e+01,  8.55808910e+00,  1.03510036e+01,
       -1.05374942e+00,  1.20613427e+01,  1.44311176e+01,  6.48748557e+00,
        2.13659477e+01,  7.86399142e+00,  1.12608231e+01,  5.57622466e+00,
        1.28750744e+01,  7.60978952e+00,  1.62516901e+01,  1.13305495e+01,
        3.65299682e+00,  7.11397090e+00,  1.37795151e+01,  5.80299996e+00,
        2.58654203e+01,  1.91557336e+01,  2.29029918e+01,  1.49049590e+01,
        1.84869583e+01,  1.36662093e+01,  1.05624554e+01,  7.89761749e+00,
        1.97980825e+01,  1.95992773e+01,  1.49062701e+01,  2.86008837e-01,
        2.03582475e+01,  2.75485344e+01,  1.13144958e+01,  1.29990739e+01,
        1.61030430e+01,  1.99427733e+01,  7.21716176e+00,  2.27779635e+01,
        5.04917241e+00,  2.64194031e+00,  1.01981390e+01,  2.44811943e+01,
        3.24731461e+01,  6.37128343e+00,  7.13805099e+00,  1.41183457e+01,
        9.72361823e+00,  8.29161572e+00,  2.27194873e+01,  9.71981027e+00,
        1.62088238e+01,  2.98959498e+01,  1.40771007e+01,  2.19342767e+00,
        1.86219689e+01,  1.54587940e+01,  1.47205252e+01,  9.76277037e+00,
        1.89297860e+01,  1.48866533e+01,  1.07383495e+01, -5.54118808e+00,
        4.91557985e+00,  1.48583602e+01,  1.36208178e+01,  3.63671989e+01,
        7.35535889e+00,  2.81652233e+00,  3.71586831e+01,  3.76446828e+01,
        2.08482362e+01,  1.97511016e+01,  1.83923430e+01,  1.89720690e+01,
        1.49465900e+01,  5.20660942e-01,  6.06348938e+01,  7.07154610e+00,
        3.24338299e+01,  1.01701754e+01,  2.36664470e+01,  1.44572103e+01,
        1.74968049e+01,  6.58521769e+00,  6.91758027e-01,  1.92673651e+01,
        1.03629446e+01,  1.79184324e+01,  1.31141854e+01,  1.73185817e+01,
        1.71026050e+01,  1.38732931e+01,  1.00385033e+01,  2.37731664e+01,
        2.03873239e+01,  1.63510014e+01,  1.64735537e+01,  7.90143540e+00,
        1.04736334e+01,  1.30730608e+01,  2.46997408e+01,  1.72755098e+01,
        2.20202131e+01,  1.16832242e+01,  2.23836154e+01,  7.67985164e+00,
        1.69095006e+01,  1.41418126e+01,  1.95647825e+01,  3.82998031e+01,
        1.40546171e+01,  1.39613696e+01,  6.99708389e+00,  8.43514319e+00,
        8.79903247e+00,  9.06297062e+00,  3.89683157e+01,  2.01905623e+00,
        1.33832817e+01,  1.28356891e+01,  1.19685291e+01,  1.50570094e+01,
        3.00237716e+01,  5.41872734e+00,  3.12286880e+01,  1.59759359e+01,
        1.73442393e+01,  1.82287508e+01,  2.67213678e+01,  4.86567189e+00,
        1.39209877e+01,  1.14744169e+01,  1.12458789e+01,  5.00504043e+01,
        2.04768893e+01,  1.72863147e+01,  1.27269898e+01,  1.43771138e+00,
        7.59001188e+00,  1.16560520e+01,  1.21279511e+01,  3.53105075e+00,
        4.69333906e+00,  3.14332688e+01,  9.62551133e+00,  2.24431285e+01,
        1.78660392e+01,  3.00573117e+01,  3.70985800e+01,  9.75408220e+00,
        4.79424796e+00,  1.27828021e+01,  1.96665249e+01,  1.61678682e+01,
        1.32113698e+01,  9.64089541e+00,  1.09240588e+01,  5.32752433e+00,
        1.49461974e+01,  1.48405521e+01,  1.43736136e+01,  1.39118713e+01,
        1.56299147e+01,  6.71943786e+00,  9.67815509e+00,  9.43257694e+00,
        1.21085404e+01,  1.74357972e+01,  1.67770043e+01,  1.20482365e+00,
        4.75332809e+00,  2.35530703e+01,  2.60678995e+01,  6.89933143e+00,
        7.64675040e+00,  5.38028576e+00,  1.52035687e+01,  7.29515057e+00,
        2.51400538e+01,  6.50925626e+00,  3.10470670e+01,  1.46388214e+01,
        4.99535893e-02,  2.11372825e+01,  7.11198890e+00,  1.77296353e+01,
        7.61082819e-01,  8.18371292e+00,  9.02713151e+00,  1.65902204e+01,
        5.44113401e+00,  1.02956023e+01,  1.62908655e+01,  1.84801949e+01,
        1.43744886e+01,  8.41751610e+00,  1.95534591e+01,  6.70653585e+00,
        2.09591883e+01,  1.71151890e+01,  1.37127273e+01,  1.33265557e+01,
        1.78102765e+01,  1.70464743e+01,  1.14183459e+01,  2.13097128e+01,
        1.37978102e+01,  1.77115721e+01,  7.88952814e+00,  1.46930570e+01,
        1.29402459e+01,  1.33791899e+01,  1.43057743e+01,  1.98317274e+01,
        2.06185297e+01,  1.41409666e+01,  2.61779978e+01,  3.70335036e+00,
        2.68817932e+01,  1.28848174e+01,  1.51260151e+01,  7.80456267e+00,
        1.04974022e+01,  6.22376379e+00,  7.96559540e+00,  8.56593531e+00,
        1.97449525e+01,  5.66602426e+00,  2.67371037e+01,  1.50050416e+01,
        5.85597329e+00,  1.00242953e+01,  9.68245892e+00,  2.03198458e+01,
        1.75631738e+01,  1.02326915e+01,  2.12519889e+01,  4.96777279e+01,
        2.56222861e+00,  2.06857623e+01,  2.42968428e+01,  9.83830145e+00,
        1.76205464e+01,  7.37059972e+00,  2.07621573e+01,  1.42220067e+01,
        1.03488138e+01,  8.68172461e+00,  1.32442570e+01,  1.93038984e+01,
        1.01887443e+01,  2.61087176e+01,  1.55083315e+01,  3.64215699e+01,
        1.24267304e+01,  1.85546237e+01,  1.54460951e+01,  1.30829441e+01,
        1.74063662e+01,  2.72821930e+01,  1.23420484e+01,  1.35685841e+01,
        8.99898906e+00,  1.07755142e+01,  7.60969206e+00,  1.08949155e+01,
        3.28463008e+01,  2.15404833e+01,  1.30157512e+01,  1.04983897e+01,
        4.19172800e+00,  2.54867401e+01,  2.64589743e+01,  1.36398420e+01,
        2.09912202e+01,  2.10442419e+00,  3.01202004e+01,  2.12605758e+00,
        2.18908000e+01,  2.10982672e+01,  1.69001771e+01,  2.16402155e+01,
        9.17678364e+00,  2.73465889e+01,  1.16612169e+01,  1.73712712e+00,
        4.20988455e+00,  2.87992702e+01,  4.07708584e+00,  1.66651051e+01,
        1.19332140e+01,  2.31028358e+01,  1.09862475e+01,  1.60693229e+01,
        2.72225908e+01,  1.61654413e+01,  8.69633214e+00,  1.08943873e+01,
        7.56573774e+00,  1.13495935e+01,  3.00701351e+00,  1.77194900e+01,
        3.74900342e+00,  7.22647299e+00,  3.96303974e+00,  1.19117020e+01,
        1.64873693e+01,  1.10707682e+01,  2.96877604e+01,  1.87332268e+01,
        8.83524810e+00,  2.42122140e+01,  2.98962295e+01,  1.00976113e+01,
        1.03694470e+01,  1.76305692e+01,  9.30011033e+00,  1.46696972e+01,
        9.74822160e+00,  3.69073685e+01,  7.71475964e+00,  9.78125037e+00,
        1.79638803e+01,  7.67792957e+00,  9.94583539e+00,  4.09047145e+01,
        9.06129413e+00,  1.95064450e+00,  1.36066630e+01,  1.57718037e+01,
        3.33400038e+01,  2.94339574e+01,  1.30766052e+01,  9.18223469e+00,
        2.75656899e+01,  2.44587764e+01,  3.20485430e+01,  2.24912976e+01,
        1.02103859e+01,  2.53528194e+01,  2.97615679e+01,  6.91255029e+00,
        9.92631195e+00,  1.47162208e+01,  2.10774247e+00,  3.90091773e+00,
        2.22747382e+01,  3.47436612e+00,  1.74433008e+01,  9.92548265e+00,
        1.00409192e+01,  6.12814309e+00,  1.65461775e+01,  9.52181762e+00,
        1.02560980e+01,  1.07664257e+01,  2.79906589e+00,  1.95073718e+01,
        2.15919508e+01,  3.96339682e+01,  4.52188775e+00,  2.64743093e+01,
        8.75883069e+00,  2.41894383e+01,  1.03669108e+01,  6.70097088e+00,
        1.48869003e+01,  9.32708340e+00,  5.94526730e+00,  1.71463656e+01,
        8.33223580e+00,  5.68256937e+00,  8.34204012e+00,  1.74138827e+01,
        1.20544709e+01,  2.87457440e+01,  1.43805097e+01,  1.24042039e+01,
        1.99042576e+01,  1.04054130e+01,  1.38543874e+01,  9.05702266e+00,
        2.46279328e+01,  1.56843362e+01,  1.08148479e+01,  1.58045025e+01,
        2.16011325e+01,  2.74702523e+01,  9.59752189e+00,  1.52647794e+01,
        2.32032269e+01,  9.10335869e+00,  6.26486265e+00,  2.59713410e+01,
        2.41936732e+01,  2.03859893e+01,  1.84143529e+01,  2.30004331e+01,
        1.97073589e+01,  9.28894712e+00,  1.60122496e+01,  6.62035370e+01,
        2.67618485e+01,  8.65384384e+00,  1.10806674e+01,  5.20633995e+00,
        8.11557322e+00,  2.06335719e+01,  1.55812514e+01,  1.10878832e+01,
        9.83832082e+00,  9.44601032e+00,  4.82885131e+00,  4.57059137e+00,
        1.59048320e+01,  2.22486841e+01,  8.77595139e+00,  7.90702127e+00,
        5.16579905e+00,  1.19975093e+01,  1.76457199e+01,  1.32689758e+01,
        2.44836767e+01,  7.68525005e+00,  1.96128742e+01,  2.28422980e+01,
        9.62207698e+00,  5.25900080e+00,  2.43685685e+01,  1.60645542e+01,
        1.50098370e+01,  1.01724064e+01,  1.17084957e+01,  2.87061433e+01,
        3.18168527e+00,  1.78110594e+01,  1.08153536e+01,  1.63843638e+01,
        3.17716084e+01,  7.51516839e+00,  7.12646750e+00,  5.15592514e+00,
       -9.12664301e-01,  8.41558404e+00,  8.92251878e+00,  5.63341880e+00,
        1.47719507e+01,  1.44405886e+00,  2.30973431e+01,  1.73916393e+01,
        3.44879906e+00,  1.95278953e+01,  1.28969851e+01,  3.06610227e+00,
        2.89348311e+01,  1.18507911e+01,  1.05088592e+01,  7.07740230e+00,
        1.87546887e+01,  7.39431399e+00,  1.31952017e+01,  2.18732048e+01,
        1.01056491e+01,  1.15747482e+01,  6.40225304e+00,  1.92448022e+01,
        1.19157375e+01,  1.78166148e+01,  1.67639774e+01,  5.51183767e+00,
        9.39233429e+00,  7.13443167e+00,  2.27434992e+01,  1.57505019e+01,
        3.38088323e+00,  1.96027496e+01,  1.29871155e+01,  5.86112443e+00,
        9.55168256e+00,  4.50936873e+01,  3.82674518e+01,  1.06128372e+01,
        2.64499073e+01,  4.82711641e+00,  1.34862645e+01,  1.09637471e+01,
        8.80915735e+00,  7.41258955e+00,  6.35475956e+00,  7.63480708e+00,
        8.20236824e+00,  8.15890051e+00,  1.67641858e+01,  2.24230495e+01,
        4.35253521e+01,  1.60737940e+01,  1.94592419e+01,  1.58633555e+00,
        1.43677421e+01,  2.39279006e+01,  1.42873675e+01,  4.65911761e+00,
        5.44451300e+01,  3.27320759e+01,  8.74498033e+00,  4.85030098e+00,
        5.32250656e+00,  1.21150228e+01,  4.59974927e+01,  2.39867032e+01,
        2.10098369e+01,  2.54965146e+01,  2.20127185e+00,  1.48118883e+01,
        2.27534132e+01,  8.87487474e+00,  6.92009253e+00,  1.82139209e+01,
        2.86612190e+01,  3.22774147e+01,  1.21941961e+01,  6.19715892e+00,
        2.61615726e+01,  1.26834447e+01,  1.00398609e+01,  1.50837802e+01,
        2.24175713e+01,  1.18750098e+01])

In [36]:
# to make predictions on the new data, 
# we have to process the data (X features) in the same way.

In [46]:
# Activity 3a
# take the file "data_to_predict" and find out how much those donors could be worth
# watch out: is the data in the same format as what your training data currently looks like?
data_for_p = pd.read_csv('data_to_predict.csv')
display(data_for_p.head())

     AVGGIFT   HV1_log  IC1_transformed  IC5_transformed  gender
0   8.714286  7.209011        17.666103         4.166268    Male
1  16.500000  9.317831        17.358310         4.224620    Male
2  15.100000  8.402447        14.627447         4.186322    Male
3   4.848485  6.440114        12.270634         4.144954  Female
4  19.000000  8.607769        17.977822         4.280958  Female

In [47]:
#making the new data look like the transformed one may not be the most immediate exercise...

#we make the same separation into numerical and categorical
X_for_p_num = data_for_p.select_dtypes(include = np.number)
X_for_p_cat = data_for_p.select_dtypes(include = np.object)

C:\Users\User\AppData\Local\Temp/ipykernel_152/4221591790.py:5: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_for_p_cat = data_for_p.select_dtypes(include = np.object)

In [48]:
X_for_p_cat.head()

   gender
0    Male
1    Male
2    Male
3  Female
4  Female

In [49]:
X_for_p_cat.shape

(31, 1)

In [50]:
# for normalization and one hot encoding we need to make sure we remain consisten with the training data:
# If we MinMax scale just this piece of data, a "1" in this dataset means something very different from a 1 in the original dataset
# If we one-hot-encode in this dataset, the order of the columns (Unknown, Male, Female) may turn out different
#to avoid this, we use the same transformers we had already defined before, we do not fit them again.
encoded_for_p = encoder.transform(X_for_p_cat).toarray()
encoded_for_p
encoder.categories_
onehot_encoded_for_p = pd.DataFrame(encoded_for_p,columns=encoder.categories_)
onehot_encoded_for_p = onehot_encoded_for_p.drop(['Female'],axis=1)
onehot_encoded_for_p.head()

  Male    U
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  0.0  0.0
4  0.0  0.0

In [51]:
X_for_p_normalized = MinMaxtransformer.transform(X_for_p_num)
X_for_p_normalized = pd.DataFrame(X_for_p_normalized,columns=X_for_p_num.columns)

#merge back all of our labels
X_for_p = pd.concat([X_for_p_normalized, onehot_encoded_for_p], axis=1)

X_for_p.head()

    AVGGIFT   HV1_log  IC1_transformed  IC5_transformed  (Male,)  (U,)
0  0.014413  0.105658         0.755274         0.516885      1.0   0.0
1  0.031802  0.215326         0.731929         0.636063      1.0   0.0
2  0.028675  0.167722         0.524809         0.557843      1.0   0.0
3  0.005779  0.065672         0.346058         0.473354      0.0   0.0
4  0.037386  0.178399         0.778916         0.751127      0.0   0.0

In [52]:
#predict and inspect results
results_for_p = lm.predict(X_for_p)

pd.concat([data_for_p,pd.Series(results_for_p)],axis=1).head()

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 7 is different from 6)

# Lesson 3 : metrics

In [57]:
from sklearn.metrics import mean_absolute_error, r2_score

In [58]:
mae = mean_absolute_error(y_test, predictions)
print(mae)

3.4349568786234137

In [59]:
rmse = math.sqrt(mse)
print(rsae)

NameError: name 'mse' is not defined

In [60]:
r2 = r2_score(y_test, predictions)
r2

0.7835732034742455

In [64]:

df = pd.DataFrame([['a','c'],['b','d'],['a','e']],columns=['col1','col2'])

In [65]:
df

  col1 col2
0    a    c
1    b    d
2    a    e

In [66]:
encoder = OneHotEncoder().fit(df[['col2']])
encoded_for_p = encoder.transform(df[['col2']]).toarray()
encoded_for_p
encoder.categories_
# cols = [colname for row in encoder.categories_ for colname in row]
# cols
onehot_encoded_for_p = pd.DataFrame(encoded_for_p,columns=encoder.categories_)
onehot_encoded_for_p = onehot_encoded_for_p.drop(['c'],axis=1)
onehot_encoded_for_p.head()

     d    e
0  0.0  0.0
1  1.0  0.0
2  0.0  1.0